.Sidebar{
  width: 15%;
  background-color: #000;
  height: 825px;
  position: right;
  position: fixed;
  right: 0px;
}
.Header{
  width: 85%;

  float: left;

}


.Bodyy{
  width: 100%;



}
.Toop{
  display: flex;
  flex-direction: row;
}

.App{
  display: flex;
  flex-direction: column;
  padding-left: 50px;
}

.link-btn > a{
  text-decoration: none;
}

@media only screen and (max-width: 600px) {
  body {
    display: none;
  }
}